# 📁 Top-Level Project Maintainer
* @banditctl

# 🐚 Shell Scripts
scripts/*.sh @banditctl
scripts/**/*.sh @banditctl

# 📦 Installer Scripts
install/*.sh @banditctl

# 📚 Dev & System Setup Docs
dev-setup.md @banditctl
docs/**/*.md @banditctl

# ⚙️ GitHub Workflows
.github/workflows/* @banditctl

# 🧪 Lint & Config
.lint* @banditctl
.editorconfig @banditctl

# 💻 VS Code Project Settings
.vscode/* @banditctl

# 📑 Project Docs & Metadata
README.md @banditctl
CHANGELOG.md @banditctl
CONTRIBUTING.md @banditctl
LICENSE @banditctl
SECURITY.md @banditctl
